# Remediation

## Fonctions en python (c'est pas du pandas)

```python
# Signature de la fonction = nom + parametre(s) d'entrée
def nom_de_la_fonction(parametre1, parametre2, ...)
    # Uilisation des paramètres + calculs
    return resultat_du_calcul
```

In [2]:
def string_to_float( string ):
    val = float(string)
    return val

Deux solutions pour appeler les fonctions qui ont des paramètres

In [3]:
# Solution 1 : on passe une valeur à la fonction
float_transformed = string_to_float('100.8')
float_transformed

100.8

In [4]:
# Solution 2 : 
s = '100.8' 
float_transformed2 = string_to_float( s )
float_transformed2

100.8

In [5]:
# Solution 3 : 
s2 = '13.2'
float_transformed3 = string_to_float( s2 ) 
float_transformed3

13.2

## Solution pour virer les k

In [1]:
import pandas as pd
df_income = pd.read_csv('./data_gapminder/income.csv')
df_income.head(3)

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
0,Afghanistan,683,683,683,683,683,683,683,683,683,...,2690,2750,2810,2870,2930,2990,3060,3120,3190,3260
1,Angola,700,702,705,709,711,714,718,721,725,...,8000,8170,8350,8530,8710,8900,9090,9280,9480,9690
2,Albania,755,755,755,755,755,756,756,756,756,...,25.1k,25.6k,26.2k,26.7k,27.3k,27.9k,28.5k,29.1k,29.7k,30.4k

In [39]:
# Cas problématiques : 
# Cas 1 :  3450 (string || float ) --> 3450 (float)
# Cas 2 : 12k --> 12000
# Cas 3 : 12.4k --> 12400


# 12.4k --> 12.4 --> 12.4 --> 12400
# s --> remove k in s --> tranform to float --> multiplier par 1000  -> return

def string_to_float( s ):
    if isinstance(s, int):
        return s
    
    if 'k' not in s:
        return int(s)
    elif 'k' in s and '.' not in s:
        s = s[:-1]
        s = int(s)
        s = s * 1000
        return s
    elif 'k' in s and '.' in s:
        s = s[:-1]
        s = float(s)
        s = s * 1000
        s = int(s)
        return s
        
# Les différents cas à vérifier
val = string_to_float('3409')
print('3409 -->', val)

val = string_to_float('12k')
print('12k -->', val)

val = string_to_float('12.4k')
print('12.4k -->', val)

val = string_to_float(12)
print('12 -->', val)

3409 --> 3409
12k --> 12000
12.4k --> 12400
12 --> 12

In [27]:
df_income = df_income.set_index('country')
df_income.map(string_to_float)